{% extends "templates/app.twig" %}
{% block content %}

<div class="page-header">
  <h1>Welcome to the SAIMUN 2019 Public Printing Web App</h1>
</div>
{% for message in messages %}
  {{ makeError(message[0], message[1], message[2]) | raw }}
{% endfor %}

<h1>File Successfully Submitted
Please check the formatting by clicking <a href="{{ link }}" target="_blank">here</a></h1>

{% endblock %}
{% block js %}
{% endblock %}
