<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a  class="navbar-brand" href="/">SAIMUN 2019</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      {% if isLoggedIn %}
      <li class = "noactive"><a href="/"></a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if isLoggedIn %}
      <li class="noactive"><a href="/"></a></li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>
